.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  background-color: #85c1c3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav {
  padding: 20px;
}

#loggedUser {
  font-size: small;
}

.article-list {
  list-style-type: none;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.article-in-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  width: 250px;
  flex-grow: 1;
  margin: 20px;
  padding: 15px;
  background-color: #f3f4f5;
  font-size: small;
  text-align: left;
}

.user-in-list {
  display: block;
  border: solid;
  width: 200px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
}

.preview-profile-img {
  background-color: white;
  max-width: 100%;
  max-height: 60%;
}

.log-in {
  max-height: 40%;
  padding: 20px;
  text-align: center;
  font-size: small;
}

.preview-img {
  max-width: 100%;
}

.article-page {
  background-color: #f5f8f4;
  padding: 20px;
  text-align: justify;
  color: #36506f;
}

#by-line {
  font-size: 15px;
}

#topic {
  font-size: 14px;
}

.img_single_article {
  max-width: 100%;
}

#body-text {
  font-size: 15px;
}

.comment-list {
  border: solid;
  list-style-type: none;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  margin: 5px;
  font-size: small;
}

#comments-header {
  text-align: center;
}

.comment {
  border: solid;
  padding: 15px;
  margin: 5px;
}

button {
  background-color: #ffffff;
  padding: 8px;
  margin: 5px;
  border-left: #2e3132;
  border-top: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(227, 227, 227);
}

.like-button {
  float: right;
  background-color: #85c1c3;
  border-style: none;
  padding: 8px;
  margin: 5px;
  box-shadow: 2px 2px 5px #5d898a;
  cursor: pointer;
}

.like-button:hover {
  background-color: #78a8a9;
}

#float-right {
  float: right;
}

#addComment {
  width: 90vw;
  padding: 10px;
  margin: 5px;
}

#filter-form {
  background-color: #f3f4f5;
  padding: 20px;
}

#filter-topics {
  padding: 5px;
  margin: 10px;
}

#sort-by {
  padding: 5px;
  margin: 10px;
}

#order {
  padding: 5px;
  margin: 10px;
}

h2 {
  color: #36506f;
  text-align: center;
}

h3 {
  color: #2e3132;
}

.form-input {
  padding: 10px;
}

.post-comment-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
