.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #85c1c3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.nav {
  padding: 20px;
}

#loggedUser {
  font-size:small
}

.article-list {
  list-style-type: none;
  padding: 5px;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;

}

.article-in-list {
  border: solid;
  width: 250px;
  flex-grow:1;
  margin: 20px; 
  padding: 10px;
}

.preview-img {
  max-width: 80%;
}

.article-page{
  background-color: #f5f8f4;
  padding: 20px;
  text-align: justify;
  color: #36506f;
}

#by-line {
  font-size: smaller;
}

#topic {
  font-size: x-small;
}

.img_single_article {
  max-width: 100%;
}

#body-text {
  font-size: small;
}

.comment-list {
  border:solid;
  list-style-type: none;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  margin: 5px;
  font-size: small;
}

#comments-header {
  text-align: center;
}

.comment {
  border:solid;
  padding: 15px;
  margin: 5px;
}

button {
  background-color: #85c1c3;
  border-radius: 50px;
  padding: 8px;
  margin: 5px;
  border-style: none;
}

#article-like {
  float:right;
}

#addComment {
  width: 50vw;
  padding: 10px;
  margin: 5px;
}